/*
 *
 * Site Organization
 *
 */

html {
  font-family: 'Courier New', monospace;
  text-align: left;
  background-color: #1a1a1a;
  -webkit-text-size-adjust:100%;
  font-size: clamp(8px, 2vw, 13px );
}

/*
 * VW conversion: 100vw = 750px
 * 1em = 13px (full) -> 1em = 1.7333vw
 */
#headerimg, #content{
    width: min(750px, 100vw);
}

#headerimg, #content{
  margin: auto;
  display: flex;
  background-color: #d4d4d4;
}

#headerimg{
  height: min(268px, 35.73vw);
  background-size: contain;
  background-image: url("/images/sited1.jpg");
  background-image: image-set("/images/sited1.jpg" 1x, "/images/sited1-2x.jpg" 2x);
}

#splashimg{
  width: min(665px, 88.66vw);
  height: min(665px, 88.66vw);
  background-size:contain;
  background-image: url("/images/lsplash1.png");
  background-image: image-set("/images/lsplash1.png" 1x, "/images/lsplash1-2x.jpg" 2x);
}

/*
 *
 * nav menu
 *
 */
nav{
  margin: 0.7rem 0.1rem 0.3rem 0.3rem;
  width: min(80px, 10vw);
}

.navbutton{
  width: min(72px, 9vw);
  margin-top: min(2.7em, 4.68vw);
}

#webrings{
  display: flex;
  justify-content: center;
}

/*
 *
 * Formatting
 *
 */
h1{
  text-align: left;
  margin: 0px 0px 0.8rem 1rem;
  /*text-shadow: 1px 0 0px white, -1px 0 0px white, 0 1px 0px white, 0 -1px 0px white, -1px -1px 0px white, 1px -1px 0px white, 1px 1px 0px white, -1px 1px 0px white;*/
}

.tquar{
  width: 75%
}

.half{
  width: 50%
}

.hsp{
  padding-left: 0.5em;
}

.bottomspacer{
  height: 10rem;
}

.inheritcolor{
  color: inherit;
}

@media screen and (orientation:portrait) {
  h1{
    font-size: 1.5rem;
  }

  .tquar{
    width: 90%
  }

  .half{
    width: 80%
  }
}

h2{
  text-align: left;
  margin: 0px 0px 0px 1rem;
}

p{
  padding: 1rem 0px 0px 0.3rem;
  margin: 0px;
  max-width: 100%;
}

summary {
  color: #90007b;
}

.caption{
  padding: 0rem 0px 0px 1rem;
}

.center-align{
  text-align: center;
}

.left-align{
  text-align: left;
}

.no_line_height{
  line-height: 1.1;
}

.content_boxed{
  margin: 0px min(12px, 1.6vw) 0px min(12px, 1.6vw);
  padding: 1.5rem min(6px, 0.8vw) 6px min(6px, 0.8vw);
  border: 3px solid black;
  border-top: none;
  border-bottom: none;
  border-right: none;
  max-width: 100%;
}

.content_unboxed{
  margin: 12px min(12px, 1.6vw) 0px min(12px, 1.6vw);
  padding: 6px min(6px, 0.8vw) 6px min(6px, 0.8vw);
  max-width: 100%;
}

.flexdiv{
  display: flex;
}

.flexdivcenter{
  display: flex;
  justify-content: center;
}

.dashbreak{
  border: 0.3rem;
  border-color: black;
  border-style: dashed none none none;
  margin: 1em 1em 0.3em 1em
}

.dashbreakv{
  border: 0.3rem;
  border-color: black;
  border-style: none dashed none none;
  margin: 1em 0.5em 1em 0.5em
}

/*
 *
 * About page
 *
 */
#interests{
  width: 78%;
  background-color: #444444;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 0.9rem 0px 0px 0px;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

#stemlist{
  width: 50%;
  background-color: #1a1a1a;
  color: #ee8f00;
  border: 2px #ee8f00 solid;
  padding: 0.4rem 0.4rem 0.4rem 0px;
  margin: 0px 0.4rem 0px 0.4rem;
  text-align: left;
}

#furryOtherWrapper{
  width: 45%;
  margin: auto;
}

#furrylist{
  background-color: #1a1a1a;
  padding: 0.4rem 0.4rem 0.4rem 0px;
  margin-bottom: 0.6rem;
  color:  #72c2c1;
  border: 2px #72c2c1 solid;
  text-align: left;
}

#endGeneralFurryStuff{
  margin-bottom: auto;
}

#other{
  background-color: #1a1a1a;
  padding: 0.4rem 0.4rem 0.4rem 0px;
  color: #67d300;
  border: 2px #67d300 solid;
  text-align: left;
}

#furrytag{
  font-size: min(0.8rem, 1.2vw);
}

#handcoded{
  width: min(62px, 8.3vw);
  height: min(31px, 4.2vw);
  background-image: url("/images/handaxel3.png");
  background-size: cover;
}

#neocities{
  width: min(82px, 11vw);
  height: min(26px, 3.5vw);
  background-image: url("/images/neocities-60.gif");
  background-size: cover;
}

p {
  text-align: left;
}

ul {
  list-style-type: '— ';
  padding-left: 1.8rem;
}

.suplist {
  list-style-type: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 0.9rem
}

.sublist {
  list-style-type: '- ';
  font-size: 0.9rem;
  font-weight: normal;
}

/*
 *
 * Art page
 *
 */

/*
 * downsize image formula: [2*] 1440 * 620 / (<original width 1> + <original width 2>)
 * vw = <p width> / 733.3
 */

#commbutton{
  position:relative;
  right: min(40px, 5vw);
  right: calc(min(40px, 50vw) - 2rem);
}

#kss17{
  height: min(310px, 42.272vw);
  width: min(310px, 49.502vw);
  background-size:contain;
  background-image: url("/images/gallery/17p.jpg");
  background-image: image-set("/images/gallery/17p.jpg" 1x, "/images/gallery/17p2x.jpg" 2x);
  border: 0.3rem solid black;
  margin: 0rem 0.3rem 0.3rem 0rem;
}

#sk16{
  height: min(310px, 42.272vw);
  width: min(310px, 49.502vw);
  background-size:contain;
  background-image: url("/images/gallery/16p.jpg");
  background-image: image-set("/images/gallery/16p.jpg" 1x, "/images/gallery/16p2x.jpg" 2x);
  border: 0.3rem solid black;
}

#skwk{
  height: min(317px, 43.229vw);
  width: min(363px, 49.502vw);
  background-size:contain;
  background-image: url("/images/gallery/15p.jpg");
  background-image: image-set("/images/gallery/15p.jpg" 1x, "/images/gallery/15p2x.jpg" 2x);
  border: 0.3rem solid black;
  margin: 0rem 0.3rem 0.3rem 0rem;
}

#kbd{
  height: min(317px, 43.229vw);
  width: min(257px, 35.047vw);
  background-size:contain;
  background-image: url("/images/gallery/14p.jpg");
  background-image: image-set("/images/gallery/14p.jpg" 1x, "/images/gallery/14p2x.jpg" 2x);
  border: 0.3rem solid black;
}

#skbe{
  height: min(248px, 33.819vw);
  width: min(314px, 42.820vw);
  background-size:contain;
  background-image: url("/images/gallery/13p.jpg");
  background-image: image-set("/images/gallery/13p.jpg" 1x, "/images/gallery/13p2x.jpg" 2x);
  border: 0.3rem solid black;
  margin: 0rem 0.3rem 0.3rem 0rem;
}

#kds{
  height: min(248px, 33.819vw);
  width: min(314px, 42.820vw);
  background-size:contain;
  background-image: url("/images/gallery/12p.jpg");
  background-image: image-set("/images/gallery/12p.jpg" 1x, "/images/gallery/12p2x.jpg" 2x);
  border: 0.3rem solid black;
}

#skgrl{
  height: min(323px, 44.047vw);
  width: min(377px, 51.411vw);
  background-size:contain;
  background-image: url("/images/gallery/11p.jpg");
  background-image: image-set("/images/gallery/11p.jpg" 1x, "/images/gallery/11p2x.jpg" 2x);
  border: 0.3rem solid black;
  margin: 0rem 0.3rem 0.3rem 0rem;
}

#scarf{
  height: min(323px, 44.047vw);
  width: min(242px, 33.001vw);
  background-size:contain;
  background-image: url("/images/gallery/10p.jpg");
  background-image: image-set("/images/gallery/10p.jpg" 1x, "/images/gallery/10p2x.jpg" 2x);
  border: 0.3rem solid black;
}

#tou{
  height: min(265px, 36.136vw);
  width: min(362px, 49.364vw);
  background-size:contain;
  background-image: url("/images/gallery/9p.jpg");
  background-image: image-set("/images/gallery/9p.jpg" 1x, "/images/gallery/9p2x.jpg" 2x);
  border: 0.3rem solid black;
  margin: 0rem 0.3rem 0.3rem 0rem;
}

#yur{
  height: min(265px, 36.136vw);
  width: min(257px, 35.045vw);
  background-size:contain;
  background-image: url("/images/gallery/8p.jpg");
  background-image: image-set("/images/gallery/8p.jpg" 1x, "/images/gallery/8p2x.jpg" 2x);
  border: 0.3rem solid black;
}

#trav{
  height: min(359px, 48.954vw);
  width: min(314px, 42.818vw);
  background-size:contain;
  background-image: url("/images/gallery/7p.jpg");
  background-image: image-set("/images/gallery/7p.jpg" 1x, "/images/gallery/7p2x.jpg" 2x);
  border: 0.3rem solid black;
  margin: 0rem 0.3rem 0.3rem 0rem;
}

#star{
  height: min(359px, 48.954vw);
  width: min(314px, 42.818vw);
  background-size:contain;
  background-image: url("/images/gallery/6p.jpg");
  background-image: image-set("/images/gallery/6p.jpg" 1x, "/images/gallery/6p2x.jpg" 2x);
  border: 0.3rem solid black;
}

#pas{
  height: min(310px, 42.273vw);
  width: min(272px, 37.091vw);
  background-size:contain;
  background-image: url("/images/gallery/5p.jpg");
  background-image: image-set("/images/gallery/5p.jpg" 1x, "/images/gallery/5p2x.jpg" 2x);
  border: 0.3rem solid black;
  margin: 0rem 0.3rem 0.3rem 0rem;
}

#clov{
  height: min(310px, 42.273vw);
  width: min(346px, 47.182vw);
  background-size:contain;
  background-image: url("/images/gallery/4p.jpg");
  background-image: image-set("/images/gallery/4p.jpg" 1x, "/images/gallery/4p2x.jpg" 2x);
  border: 0.3rem solid black;
}

#rav{
  height: min(260px, 34.455vw);
  width: min(347px, 47.318vw);
  background-size:contain;
  background-image: url("/images/gallery/3p.jpg");
  background-image: image-set("/images/gallery/3p.jpg" 1x, "/images/gallery/3p2x.jpg" 2x);
  border: 0.3rem solid black;
  margin: 0rem 0.3rem 0.3rem 0rem;
}

#app{
  height: min(260px, 34.455vw);
  width: min(273px, 37.227vw);
  background-size:contain;
  background-image: url("/images/gallery/2p.jpg");
  background-image: image-set("/images/gallery/2p.jpg" 1x, "/images/gallery/2p2x.jpg" 2x);
  border: 0.3rem solid black;
}

#bab{
  height: min(310px, 42.273vw);
  width: min(310px, 42.273vw);
  background-size:contain;
  background-image: url("/images/gallery/1p.jpg");
  background-image: image-set("/images/gallery/1p.jpg" 1x, "/images/gallery/1p2x.jpg" 2x);
  border: 0.3rem solid black;
  margin: 0rem 0.3rem 0.3rem 0rem;
}

#o55{
  height: min(310px, 42.273vw);
  width: min(310px, 42.273vw);
  background-size:contain;
  background-image: url("/images/gallery/0p.jpg");
  background-image: image-set("/images/gallery/0p.jpg" 1x, "/images/gallery/0p2x.jpg" 2x);
  border: 0.3rem solid black;
}

/*
 *
 * cool stuff page
 *
 */

.stuffsuplist {
  list-style-type: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 2rem;
}

.stuffsuplist li{
  padding-bottom: 0.5rem;
}

.desc{
  font-size: 0.9rem;
  font-weight: normal;
  padding-inline: 2.3rem 0rem;
}

.stufficon{
  width: 1.8rem;
  float: left;
  padding-right: 0.5em;
}

#surfing{
  width: 50%;
}

#neat{
  width: 45%;
}

#psites{
  width: 45%;
}

#thinky{
  width: 50%;
}

#bookheader{
  padding-inline: 3rem 0rem;
  font-size: 1.3rem;
}

.booksuplist {
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 2rem;
}
.bookicon{
  width: 10rem;
  float: left;
  padding-right: 0.5em;
}
.bookdesc{
  font-size: 1rem;
  font-weight: normal;
  padding-inline: 2.3rem 0rem;
  padding-top: 0.5rem;
}

/*
 * Link text formatting
 */

a:link {
  color: #830003;
  text-decoration: none;
}

a:visited {
  color: #4900ab;
}

a:hover {
  color: #90007b;
  text-decoration: none;
}

.linkbutton{
  font-size: 1.4rem;
  color: #dddddd;
  padding: 0.2em 0.4em 0.2em 0.4em;
  margin: 0.3em 1em 0.6em 1em;
  background-color: #010101;
}

.linkbutton:hover{
  padding: 0.3em 0.6em 0.3em 0.6em;
  font-size: 1.5em;
  margin: 0.2em 0.58em 0.15em 0.55em;
}

.buttonwrapper{
  height: 3.5rem;
}
/*
 *
 * room
 *
 */
#room{
  height: 500px;
  width:600px;
  background-size:cover;
  background-image: url("/images/room.png");
  filter: blur(6px);
}
/*
 *
 * fonts
 *
 */
.suse{
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
