/*
 *
 * Site Organization
 *
 */

html {
  font-family:  "Fragment Mono", monospace;
  text-align: left;
  background-color: #1a1a1a;
  -webkit-text-size-adjust:100%;
  font-size: 10px;
}

#headerimg, #content{
    width: 100vw;
}

@media screen and (orientation:landscape) {
  #headerimg, #content{
    width: min(750px, 100vw);
  }
}

@media screen and (orientation:portrait) {
  #headerimg, #content{
    width: 200vw;
  }
}

#headerimg, #content{
  margin: auto;
  display: flex;
  background-color: #bbbbbb;
}

#splashimg{
  width: 660px
}


nav{
  margin: 10px 5px 5px 5px;
  width: 80px;
}

.navbutton{
  width: 72px;
  margin-top: 40px
}

#webrings{
  display: flex;
  justify-content: center;
}
/*
 *
 * Formatting
 *
 */
h1{
  text-align: left;
  margin: 0px 0px 0px 12px;
  /*text-shadow: 1px 0 0px white, -1px 0 0px white, 0 1px 0px white, 0 -1px 0px white, -1px -1px 0px white, 1px -1px 0px white, 1px 1px 0px white, -1px 1px 0px white;*/
}

@media screen and (orientation:portrait) {
  h1{
    font-size: 3rem;
  }
}

h2{
  text-align: left;
  margin: 0px 0px 0px 12px;
}


main{
  font-size: 10px;

}

p{
  padding: 12px 0px 0px 12px;
  margin: 0px;
  max-width: 100%;
}

@media screen and (orientation:portrait) {
  p{
    font-size: 2rem;
  }
}

.center-align{
  text-align: center;
}

.left-align{
  text-align: left;
}

.no_line_height{
  line-height: 1.1;
}

.content_boxed{
  margin: 0px 12px 0px 12px;
  padding: 18px 6px 6px 6px;
  border: 3px solid black;
  border-top: none;
  border-bottom: none;
  border-right: none;
  max-width: 100%;
}

.content_unboxed{
  margin: 12px 12px 0px 12px;
  padding: 7px 7px 7px 7px;
  max-width: 100%;
}

.flexdiv{
  display: flex;
}

/*
 *
 * About page
 *
 */
#interests{
  width: 80%;
  background-color: #444444;
  padding: 6px 6px 6px 6px;
  margin: 12px 0px 0px 0px;
  text-align: center;
  color: white;
  font-size: 16px;
}
#stemlist{
  width: 50%;
  background-color: #1a1a1a;
  color: #ee8f00;
  border: 2px #ee8f00 solid;
  padding: 6px 6px 6px 0px;
  margin: 0px 6px 0px 6px;
  text-align: left;
}

#furryOtherWrapper{
  width: 45%;
  margin: auto;
}

#furrylist{
  background-color: #1a1a1a;
  padding: 6px 6px 6px 0px;
  color:  #72c2c1;
  border: 2px #72c2c1 solid;
  text-align: left;
}

#other{
  background-color: #1a1a1a;
  padding: 6px 6px 6px 0px;
  color: #67d300;
  border: 2px #67d300 solid;
  text-align: left;
}

#furrytag{
  font-size: 12px;
}


p {
  text-align: left;
}

ul {
  list-style-type: '— ';
  padding-left: 24px;
}

.suplist {
  list-style-type: none;
  font-size: 15px;
  padding-left: 12px;
}

.sublist {
  list-style-type: '- ';
  font-size: 12px;
}

/*
 *
 * Art page
 *
 */
#tos{
  padding-left: 39px;
}
#tou{
  height: 200px;
}
#yur{
  height: 200px;
}
#ali{
  height: 200px;
}
#pas{
  height: 200px;
}
#star{
  height: 200px;
}
#lum{
  height: 200px;
}
#clov{
  height: 200px;
}
#rav{
  height: 200px;
}
#app{
  height: 200px;
}
#bab{
  height: 200px;
}
#o55{
  height: 200px;
}

/*
 * Link text formatting
 */

a:link {
  color: #830003;
}

a:visited {
  color: #4900ab;
}

a:hover {
  color: #90007b;
  text-decoration: none;
}
